<div class="contriner ">
    <p>

        To way aniamation</p>


    <div [@popOverState]="popState" class="card " style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/280px-Flag_of_Lebanon.svg.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <button (click)=" toggle()" class="btn btn-primary">Go somewhere</button>

</div>